
.login-page-content{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: auto;
          border: 1px solid #191970;
          min-width: 300px;
          width: max-content;
         min-height: 400px;
         height: max-content;
}
.login-page-content p{
          margin-top: 50px;
          font-size: 17px;
}
.input-areas{
          display: flex;
          flex-direction: column;
       

}
.input-areas label {
         font-size: 16px;
          text-align: start;
          margin-bottom: 5px;
}

.sign-in-btn{
          margin: 20px;
          width: 100px;
          height: 50px;
          border: none;
          background: #C0440E;
border-radius: 45px;
color: white;
}
.sign-in-btn:hover{
          cursor: pointer;
}
.input-password{
          width: 185px;
}
.register-link{
          margin-top: 15px;
}