.inbox-page-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.inbox-mail-summary span {
  font-weight: bold;
  display: inline-block;
  width: 80px;
  color: #45474b;
}

.user-icon-home {
  width: fit-content;
  height: fit-content;
}

.mail-title {
  display: inline-flex;
  justify-content: space-between;
  align-items: stretch;
  color: #45474b;
}

.mail-actions {
  display: flex;
  justify-content: flex-end;
}

.mail-actions .icons {
  margin-right: 20px;
  justify-content: flex-end;
}

.mail-sender {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Elemanları ortala */
}

.sender-name {
  flex: 1;
  /* Tam genişlikte sırala */
}

.mail-action-btns {
  outline: none;
  background: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon-with-text {
  display: flex;
  align-items: center;
}

.icon-with-text span {
  margin-left: 5px;
  /* İhtiyaca göre boşluk ekleyebilirsiniz */
}

.mail-sender-email {
  color: #a9a9a9;
}

.mail-attachments {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.attachment-content {
  display: flex;
  align-items: center;
}

.attachment-content span {
  margin-left: 5px;
  /* İhtiyaca göre boşluk ekleyebilirsiniz */
}
.mail-answer-content {
  padding-left: 30px;
}
