.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); /* Use box-shadow for a more subtle line */
  margin-bottom: 20px;
  position: sticky;
}
.home-btn {
  outline: none;
  background: inherit;
  border: none;
}
.home-btn:hover {
  cursor: pointer;
}

.user-section,
.search-section {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically centered */
}

.logo-img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: stretch;
  }

  .user-section,
  .search-section {
    margin: 15px 0;
  }

  .user-icon {
    margin: 0; /* Reset margin for small screens */
  }

  .user-name {
    margin-left: 0; /* Reset margin for small screens */
  }
}
