.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); /* Use box-shadow for a more subtle line */
  margin-bottom: 20px;
  position: sticky;
}
.home-btn{
  outline: none;
  background: inherit;
  border: none;
}
.home-btn:hover{
  cursor: pointer;
}
.logo-section,
.user-section,
.search-section {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically centered */
}

.user-icon {
  border: 1px solid;
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Make border-radius 50% for a perfect circle */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.user-name {
  margin-left: 10px; /* Add some margin between user-icon and user-name */
}

@media screen and (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: stretch;
  }

  .logo-section,
  .user-section,
  .search-section {
    margin: 15px 0;
  }

  .user-icon {
    margin: 0; /* Reset margin for small screens */
  }

  .user-name {
    margin-left: 0; /* Reset margin for small screens */
  }
}
.logout-btn{
  background-color: inherit;
  margin: 40px;
  width: 100px;
  height: 35px;
  font-size: 16px;
  border-radius: 30px;
}
.logout-btn:hover{
  cursor: pointer;
}